/* Estilos comunes para todos los perfiles */
.profile-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-card {
  background: #1a1a1a;
  border: 1px solid var(--terminal-green);
  width: 100%;
  max-width: 800px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}

.terminal-header {
  background: #333;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.red {
  background: #ff5f56;
}

.yellow {
  background: #ffbd2e;
}

.green {
  background: #27c93f;
}

.title {
  color: #ccc;
  font-size: 0.8rem;
  margin-left: 10px;
}

.profile-content {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
}

.back-navigation {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
}

.back-navigation .nav-button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--terminal-green);
  color: var(--terminal-green);
  padding: 10px 20px;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-image img {
  width: 200px;
  height: 200px;
  border: 2px solid var(--terminal-green);
  filter: grayscale(1) contrast(1.2);
  object-fit: cover;
}

.profile-info h1 {
  margin-top: 0;
  font-size: 1.5rem;
}

.role {
  color: var(--text-accent);
  font-weight: bold;
}

.skills {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 1rem 0;
}

.skills li::before {
  content: "> ";
}

.parrafo-resumido {
  max-height: calc(1.6em * 3);
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.parrafo-completo {
  max-height: 62.5rem;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

/* Ajuste Responsivo para la Tarjeta */
@media (max-width: 600px) {
  .profile-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .skills {
    justify-content: center;
  }
}
